[submodule "themes/min_night"]
	path = themes/min_night
	url = https://github.com/BadAsstronaut/min_night.git

[submodule "badasstronaut.github.io"]
	path = badasstronaut.github.io
	url = https://github.com/BadAsstronaut/badasstronaut.github.io.git

[submodule "themes/hugo-theme-m10c"]
	path = themes/hugo-theme-m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
