.main-list {
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.posts {
    order: 1;
}

.twitter-feed {
    order: 2;
    align-self: center;
    margin: 0 auto;
    width: 60%;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-grow: 1;
}

img.self-portrait {
    border: none;
    width: 40%;
}

.zinger {
    font-style: italic;
    display: flex;
    color: #666;
    font-size: 1.75em;
    text-align: justify;
    margin: 20px 15px;
}

.zinger img {
    border: none;
    display: inline-block;
    max-height: 30px;
}

img.icon-open-quote {
    transform: rotate(180deg);
    padding-right: 3px;
    margin-right: 5px;
}

img.icon-close-quote {
    align-self: flex-end;
}
